@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .ChatParent {
    max-width: 45vh;
    margin-top: 50px;
  }
}

.ChatParent {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 20px;
  min-height: max-content;
}

.ChatForm {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  margin-top: 15px;
}

.MuiInputBase-input {
  color: white;
}
