.Main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  text-align: left;
}

.initialText,
.Response {
  max-width: 200px;
  font-size: 1rem;
  font-weight: 350;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: rgb(248, 248, 248);
}

.initialText {
  background-color: rgb(62 62 67);
  border-radius: 20px 20px 20px 0px;
}

.Response {
  background-color: rgb(0, 114, 239);
  border-radius: 20px 20px 0px 20px;
}

.initialMeme {
  max-width: 280px;
  border-radius: 10px;
}

.MessagesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: end;
  justify-items: center;
  overflow-y: scroll;
}
